.jumbotron{
	font-family: "Segoe UI", "Tahoma", sans-serif;
	background-color: #B8C3D4;
	height: 100%;
	margin: 0 auto;
}
body{
    background: url(../images/background.png) no-repeat fixed center top;
}
